<section class="titleSection">
    <h2>TUTOS</h2>
    <p>
        Gestion de nos tutos
    </p>
<div class="form">
    {{ form_start(tutoForm) }}
    <div class="input-group mb-3">
        <span id="addon-wrapping">{{ form_label(tutoForm.title, 'Titre', {'label_attr': {'class': 'input-group-text'}}) }}</span>
        {{ form_widget(tutoForm.title, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="input-group">
        {{ form_widget(tutoForm.file_name, {'attr': {'class': 'form-control', 'placeholder': 'image', 'aria-label': 'image', 'aria-describedby': 'addon-wrapping'}}) }}
        <span id="addon-wrapping">{{ form_label(tutoForm.file_name, 'Image', {'label_attr': {'class': 'input-group-text'}}) }}</span>
    </div>
    <div class="input-group mb-3">
        <span id="addon-wrapping">{{ form_label(tutoForm.path_video, 'Lien youtube', {'label_attr': {'class': 'input-group-text'}}) }}</span>
        {{ form_widget(tutoForm.path_video, {'attr': {'class': 'form-control'}}) }}
    </div>



    <div class="col-12">
        <button class="btn-grad" type="submit">Valider</button>
    </div>
    {{ form_end(tutoForm) }}
</div>
</section>