{% extends 'admin/base.html.twig' %}
{% block css %}
    {{ parent() }}
<link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
/>
{% endblock css %}
{% block main %}
    <section class="tutotop">
        <h2>Suivi de ma réparation</h2>
        <p>
            E-Services vous permet de suivre toutes les étapes de la réparation
            de votre appareil
        </p>
        <h3>Mes demandes</h3>
    </section>
    <main>

        {{ form_start(statusForm) }}

            <section class="track">

                <div class="contentTrack">
                    <div class="flexTrack trackTop">
                        <div class="trackTopNumber">Dossier N°{{ product.number }}</div>
                        <div class="trackTopTitle">DÉCLARATION DE PANNE</div>
                        <div class="trackPhoneModel">{{ form_widget(statusForm.description) }}</div>
                    </div>
                    <div class="flexTrack trackName">
                        <div class="trackNameName">{{ product.user.firstname }} {{ product.user.lastname }}</div>
                        <div class="trackNameEmail">{{ product.user.email }}</div>
                    </div>
                    <div class="flexTrack trackInfo">
                        <div class="trackInfoPhone">{{ product.user.phone }}</div>
                        <div class="trackInfoAddress">{{ product.user.address }} {{ product.user.additionaladdress }}</div>
                        <div class="trackInfoCity">{{ product.user.zipcode }} {{ product.user.city }}</div>
                    </div>

                    <div class="flexTrack trackPhone">
                        <div class="trackPhoneModel">Appareil {{ form_widget(statusForm.model) }}</div>
                        <div class="trackPhoneimei">Imei {{ form_widget(statusForm.imei) }}</div>
                        <div class="trackPhoneModel">Date d'achat {{ form_widget(statusForm.purchase_date) }}</div>
                        <div class="trackPhoneWarranty">Garantie <a href="{{ asset('uploads/warranty/') }}{{ product.warranty }}" target=_blank>{{ product.warranty }}</a></div>
                        <div class="trackPhoneWarranty">Garantie {{ form_widget(statusForm.warranty_status) }}</div>
                    </div>
                    {% block track %}
                        {% if product.event == 'request_check' %}  {% include "admin/_event_request_check.html.twig" %} {% endif %}
                        {% if product.event == 'received' %}  {% include "admin/_event_received.html.twig" %} {% endif %}
                        {% if product.event == 'repair' %}  {% include "admin/_event_repair.html.twig" %} {% endif %}
                        {% if product.event == 'repair_finished' %}  {% include "admin/_event_repair_finished.html.twig" %} {% endif %}
                        {% if product.event == 'send' %}  {% include "admin/_event_send.html.twig" %} {% endif %}
                        {% if product.event == 'finished' %}  {% include "admin/_event_finished.html.twig" %} {% endif %}

                    {% endblock track %}



                    <div class="trackMsg">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
                        culpa eos expedita? Suscipit praesentium culpa ipsam ullam ab,
                        corrupti aut asperiores? Exercitationem necessitatibus voluptatum
                        deserunt consectetur odit quisquam sed expedita.
                    </div>

                </div>
                <div class="divBtn">
                    <button class="btn-gradManage" type="submit">Valider</button>
                </div>
                {{ form_end(statusForm) }}
            </section>


    </main>
{% endblock %}