{# je fais appel a la fonction extends qui me permet d inserer le contenu venant de base.html.twig #}
{% extends "admin/base.html.twig" %}

{# j'insere le block main qui permet de mettre du contenu dans le main de ma page home #}
{# dans ce block la boucle for va permettre d'afficher tout le contenu du $array selectionné dans GuestPageController.php #}
{% block main %}

    <section class="trackAdmin">
        <div class="headSection">
            <h2>Dossiers en cours</h2>
            <p>
                Tous les dossiers
            </p>
            <form class="search" action="{{ path('admin_search_products') }}">
                <input type="text" name="q">
                <input type="submit">
            </form>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">N° dossier</th>
                <th scope="col">Nom prenom</th>
                <th scope="col">Email</th>
                <th scope="col">Modèle</th>
                <th scope="col">Imei</th>
                <th scope="col">Status garantie</th>
                <th scope="col">Status dossier</th>
            </tr>
            </thead>

            <tbody>
            {% for product in products %}
            <tr class="TrackAdmin">


                <th scope="row">{{ product.number }}</th>
                <td>{{ product.user.firstname }} {{ product.user.lastname }}</td>
                <td>{{ product.user.email }}</td>
                <td>{{ product.model }}</td>
                <td>{{ product.imei }}</td>
                <td>{% if product.warrantyStatus == 1 %}Valide{% else %}Non valide{% endif %}</td>
                <td>{{ product.event }}</td>
                <td><input
                        onclick="window.location.href = '{{ path('admin_product', {'id': product.id}) }}'"
                        class="btn-gradManage"
                        type="button"
                        value="GERER"
                /></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </section>

{% endblock main %}