{% extends 'admin/base.html.twig' %}


{% block main %}
    <section class="tutotop">
        <h2>Suivi de ma réparation</h2>
        <p>
            E-Services vous permet de suivre toutes les étapes de la réparation
            de votre appareil
        </p>
        <h3>Mes demandes</h3>
    </section>
    <main>



            <section class="track">

                <div class="contentTrack">
                    <div class="flexTrack trackTop">
                        <div class="trackTopNumber">Dossier N°{{ product.number }}</div>
                        <div class="trackTopTitle">DÉCLARATION DE PANNE</div>
                    </div>
                    <div class="flexTrack trackName">
                        <div class="trackNameName">{{ product.user.firstname }} {{ product.user.lastname }}</div>
                        <div class="trackNameEmail">{{ product.user.email }}</div>
                    </div>
                    <div class="flexTrack trackInfo">
                        <div class="trackInfoPhone">{{ product.user.phone }}</div>
                        <div class="trackInfoAddress">{{ product.user.address }} {{ product.user.additionaladdress }}</div>
                        <div class="trackInfoCity">{{ product.user.zipcode }} {{ product.user.city }}</div>
                    </div>

                    <div class="flexTrack trackPhone">
                        <div class="trackPhoneModel">Appareil {{ product.model }}</div>
                        <div class="trackPhoneimei">Imei {{ product.imei }}</div>
                        <div class="trackPhoneWarranty">Garantie {% if product.warrantyStatus == 1 %}Valide{% else %}Non valide{% endif %}</div>
                    </div>
                    {% block track %}

                        {% if product.event == 'request_check' %}  {% include "user/_event_request_check.html.twig" %} {% endif %}
                        {% if product.event == 'received' %}  {% include "user/_event_received.html.twig" %} {% endif %}
                        {% if product.event == 'repair' %}  {% include "user/_event_repair.html.twig" %} {% endif %}
                        {% if product.event == 'repair_finished' %}  {% include "user/_event_repair_finished.html.twig" %} {% endif %}
                        {% if product.event == 'send' %}  {% include "user/_event_send.html.twig" %} {% endif %}
                        {% if product.event == 'finished' %}  {% include "user/_event_finished.html.twig" %} {% endif %}

                    {% endblock track %}


                    <div class="trackMsg">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
                        culpa eos expedita? Suscipit praesentium culpa ipsam ullam ab,
                        corrupti aut asperiores? Exercitationem necessitatibus voluptatum
                        deserunt consectetur odit quisquam sed expedita.
                    </div>
                </div>

            </section>


    </main>
{% endblock %}