<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block css %}
        <link href="{{ asset('css/admin.css') }}" type="text/css" rel="stylesheet">
    {% endblock css %}
    <link
            rel="icon"
            type="image/png"
            href="./assets/img/logo/logo_small_icon_only_inverted.png"
    />
    <title>E-Services</title>
</head>
<body>
<header class="flexadmin">
    <div class="logo">
        <img
                class="logoES"
                src="{{ asset('img/logo/logoh_white_large.png') }}"
                alt="Le logo de E-Services"
        />
    </div>

    <nav class="flexadmin navigation">
        <ul class="flexadmin main-menu">
            <li class="main-menu-element">
                <a href="{{ path('admin_home') }}">ACCUEIL</a>
            </li>
            <li class="main-menu-element">
                <a href="{{ path('admin_products') }}">Gestion dossiers</a>
            </li>
            <li class="main-menu-element">
                <a href="{{ path('admin_tutos') }}">TUTOS</a>
            </li>

        </ul>
    </nav>
    <div class="flexadmin btnConnect">
        <input
                onclick="window.location.href = '{{ path('app_logout') }}'"
                class="btn-grad"
                type="button"
                value="SE DECONNECTER"
        />
        <div class="ident"><span>Connecté en tant que: </span> {{ app.user.email }}</div>
    </div>
    <div class="flexadmin trackMsg">


        <div class="msgTitle">
            <h3>Votre messagerie</h3>
        </div>
        <div class="flexadmin trackMsgContent">
            <div class="msgData">
                <p>reçus : {{ app.user.received|length }}</p>
                <p>Envoyés : {{ app.user.sent|length }}</p>
            </div>
            <div class="flexadmin msgLink">

                <a href="{{ path("received_admin", {'id': app.user.id}) }}" class="btn-gradManage">Boite de
                    reception</a>


                <a href="{{ path("sent_admin") }}" class="btn-gradManage">Elements envoyés</a>

                <a href="{{ path("send_admin") }}" class="btn-gradManage">Envoyer un message</a>
            </div>
        </div>


    </div>
</header>


{% block main %}{% endblock main %}


{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<footer class="footer">

    <div class="flexadmin contentFooter">
        <div class="logoFooter flexadmin">
            <img class="imgLogoFooter" src="{{ asset('img/logo/logo_small.png') }}" alt="logo entreprise"/>
        </div>
        <div class="flexadmin contentContact">
            <h3>CONTACTEZ VOTRE ADMINISTRATEUR</h3>
            <span
            >En cas de problèmes, contactez votre administrateur</span
            >
            <span>support@e-services.fr <br/>06 00 00 00 00 </span
            >
        </div>
    </div>
</footer>

<script src="./assets/js/index.js"></script>
</body>
</html>

