{% extends 'admin/base.html.twig' %}


{% block main %}
    <section class="tutotop">
        <h2>Suivi de ma réparation</h2>
        <p>
            E-Services vous permet de suivre toutes les étapes de la réparation
            de votre appareil
        </p>
        <h3>Mes demandes</h3>
    </section>
    <main>

        {{ form_start(statusForm) }}

            <section class="track">

                <div class="contentTrack">
                    <div class="flexTrack trackTop">
                        <div class="trackTopNumber">Dossier N°{{ form_label(statusForm.number) }}</div>
                        <div class="trackTopTitle">DÉCLARATION DE PANNE</div>
                    </div>
                    <div class="flexTrack trackName">
                        <div class="trackNameName">{{ form_label(statusForm.user) }} </div>

                    </div>

                    <div class="flexTrack trackPhone">
                        <div class="trackPhoneModel">Appareil {{ form_label(statusForm.model) }}</div>
                        <div class="trackPhoneimei">Imei {{ form_label(statusForm.imei) }}</div>
{#                        <div class="trackPhoneWarranty">Garantie {{ form_label(statusForm.warranty_status) }}</div>#}
                    </div>
                    <div class="trackHistory">
                        <div class="point first">
                            <img class="picto" src="{{ asset('img/picto-flow1-min.png') }}" class="picto-state" />
                        </div>
                        <div class="boxTrack">
                            <div class="dot"></div>
                            <span class="label">Demande validée</span>
                        </div>
                        <div class="boxTrack">
                            <div class="dot"></div>
                            <span class="label">Appareil reçu</span>
                        </div>
                        <div class="boxTrack">
                            <div class="dot"></div>
                            <span class="label">Remise en état</span>
                        </div>

                        <div class="boxTrack">
                            <div class="dot"></div>
                            <span class="label">Appareil réparé</span>
                        </div>
                        <div class="boxTrack">
                            <div class="dot"></div>
                            <span class="label">Appareil envoyé</span>
                        </div>
                        <div class="boxTrack">
                            <div class="dot"></div>
                            <span class="label">Dossier clôturé</span>
                        </div>
                        <div class="point">
                            <img class="picto" src="{{ asset('img/picto-flow4-min.png') }}" class="picto-state" />
                        </div>
                    </div>

                    {{ form_end(statusForm) }}
                    <div class="trackMsg">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
                        culpa eos expedita? Suscipit praesentium culpa ipsam ullam ab,
                        corrupti aut asperiores? Exercitationem necessitatibus voluptatum
                        deserunt consectetur odit quisquam sed expedita.
                    </div>
                </div>

            </section>


    </main>
{% endblock %}