{#je fais appel a la fonction extends qui me permet d inserer le contenu venant de base.html.twig#}
{% extends "admin/base.html.twig" %}

{# j'insere le block metatitle mais fait appel a la place du metatitle par defaut le metatitle "Vos livres"   #}
{% block metatitle %}
    Vos Tutos
{% endblock metatitle %}



{# j'insere le block main qui permet de mettre du contenu dans le main de ma page books   #}
{# dans ce block la boucle for va permettre d'afficher tout le contenu du $array selectionné dans GuestPageController.php   #}
{% block main %}
    <a class="lien" href="{{ path('admin_tuto_create') }}">Créer un tuto</a>
    <section class="boxBook">

        {% for tuto in tutos %}
            <div id="contentBook">
                <h2 id="">{{ tuto.title }}</h2>

                    <h2 id="bookAuthor">Fichier {{ tuto.filename }}</h2>

                <h2 id="bookPublish">lien Youtube {{ tuto.pathvideo}}</h2>
                <a class="lien1" href="{{ path('admin_tuto', {'id': tuto.id}) }}">Voir ce livre</a>
                <a class="lien2" href="{{ path('admin_tuto_update', {'id': tuto.id}) }}">Mettre à jour</a>
{#                <a class="lien3" href="{{ path('admin_tuto_delete', {'id': book.id}) }}">Supprimer ce livre</a>#}

            </div>
        {% endfor %}
    </section>
{% endblock main %}