<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block css %}
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet">
    {% endblock css %}
    <link
            rel="icon"
            type="image/png"
            href="{{ asset('img/logo/logo_small_icon_only_inverted.png') }}"
    />
    <title>E-Services</title>
</head>
<body>
<header class="flex">
    <div class="logo">
        <img
                class="logoES"
                src="{{ asset('img/logo/logoh_small.png') }}"
                alt="Le logo de E-Services"
        />
    </div>

    <nav class="flex navigation">
        <ul class="flex main-menu">
            <li class="main-menu-element">
                <a href="{{ path('home') }}">ACCUEIL</a>
            </li>
            <li class="main-menu-element">
                <a href="#middleBottom">ACTIVER GARANTIE</a>
            </li>
            <li class="main-menu-element">
                <a href="{{ path('login') }}">DECLARER PANNE</a>
            </li>

                <a class="btn-grad" href="{{ path('login') }}">CONNEXION</a>

        </ul>
    </nav>
</header>



    {% block main %}{% endblock main %}


{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<footer class="footer">
    <div class="imgFooter">
        <img
                class="phones"
                src="{{ asset('img/footer.png') }}"
                alt="image de telephones"
        />
    </div>
    <div class="flex contentFooter">
        <div class="logoFooter flex">
            <img class="imgLogoFooter" src="{{ asset('img/logo/logo_small.png') }}" alt="logo entreprise" />
        </div>
        <div class="flex contentContact">
            <h3>CONTACTEZ-NOUS</h3>
            <span
            >Nous serions ravis d'échanger avec vous autour de vos enjeux<br />et
            vos problématiques.</span
            >
            <span>david.godignon@eservices.fr <br />06 00 00 00 00 </span
            ><a href="#">formulaire de contact</a>
        </div>
    </div>
</footer>

<script src="{{ asset('js/index.js') }}"></script>
</body>
</html>

