{% extends 'admin/base.html.twig' %}

{% block title %}Hello MessagesController!{% endblock %}

{% block main %}
    <section class="flex container blockMsg">
        <div class="contentReadMsg">

            <h3 class="flex contentMsgH3">Messagerie</h3>

            <p>Message de {{ message.senderadmin.email }}</p>
            <p class="my-3">Le {{ message.createdAt|date }}</p>
            <div class="flex msg">{{ message.message }}</div>

                <div class="d-flex justify-content-center m-5">

                    <input
                            onclick="window.location.href = '{{ path('send_admin') }}'"
                            class="btn-grad"
                            type="button"
                            value="Repondre"
                    />
                    <input
                            onclick="window.location.href = '{{ path('admin_home', {'id': app.user.id}) }}'"
                            class="btn-grad"
                            type="button"
                            value="Retour"
                    />

                </div>
                </div>
            </div>
    </section>



{% endblock %}
