{% extends 'base.html.twig' %}
{% block css %}
    {{  parent() }}<link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
{% endblock css %}
{% block title %}Hello MessagesController!{% endblock %}

{% block main %}
    <section class="flex container blockMsg">
        <div class="row">
            <div class="col-12 m-5">
                <h3>Elements envoyés</h3>
                <p>Vous avez envoyé {{ app.user.sentuser|length }} messages</p>
            </div>

            <div class="col-4 text-center my-3 fw-bold">De</div>
            <div class="col-4 text-center my-3 fw-bold">Date</div>
            <div class="col-3 text-center my-3 fw-bold">Actions</div>
            {% for message in app.user.sentuser %}
                {% if message.isRead == 0 %}
                    {% set bold = "fw-bold" %}
                {% else %}
                    {% set bold = "" %}
                {% endif %}
                <div class="col-4 text-center {{ bold }}">{{ message.sender.email }}</div>
                <div class="col-4 text-center {{ bold }}">{{ message.createdAt|date }}</div>
                <input
                        onclick="window.location.href = '{{  path("read", {id:message.id}) }}'"
                        class="col-1 text-center btn-grad"
                        type="button"
                        value="Voir"
                />
            {% endfor %}

            <div class="d-flex justify-content-center m-5">

                <input
                        onclick="window.location.href = '{{ path('send') }}'"
                        class="btn-grad"
                        type="button"
                        value="Envoyer un message"
                />
                <input
                        onclick="window.location.href = '{{ path('user_info_track', {'id': app.user.id}) }}'"
                        class="btn-grad"
                        type="button"
                        value="Retour"
                />

            </div>
        </div>
    </section>



{% endblock %}
