{% extends 'admin/base.html.twig' %}

{% block title %}Hello MessagesController!{% endblock %}

{% block main %}
    <section class="flex container blockMsg">
        <div class="contentMsg">
            <div class="col-12 m-5">
                <h3>Elements envoyés</h3>
                <p>Vous avez envoyé {{ app.user.sent|length }} messages</p>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col fw-bold">De</th>
                    <th scope="col fw-bold">Date</th>
                    <th scope="col fw-bold">Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for message in app.user.sent %}
                    {% if message.isRead == 0 %}
                        {% set bold = "fw-bold" %}
                    {% else %}
                        {% set bold = "" %}
                    {% endif %}

                    <tr class="TrackAdmin">


                        <td class="{{ bold }}">{{ message.senderadmin.email }}</td>
                        <td class="{{ bold }}">{{ message.createdAt|date }}</td>
                        <td><input
                                    onclick="window.location.href = '{{ path("read_sent_admin", {id:message.id}) }}'"
                                    class="col-1 text-center btn-grad"
                                    type="button"
                                    value="Voir"
                            /></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-center m-5">

                <input
                        onclick="window.location.href = '{{ path('send_admin') }}'"
                        class="btn-grad"
                        type="button"
                        value="Envoyer un message"
                />
                <input
                        onclick="window.location.href = '{{ path('admin_home', {'id': app.user.id}) }}'"
                        class="btn-grad"
                        type="button"
                        value="Retour"
                />

            </div>
        </div>
    </section>



{% endblock %}
