<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block css %}
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet">
    {% endblock css %}
    <link
            rel="icon"
            type="image/png"
            href="{{ asset('img/logo/logo_small_icon_only_inverted.png') }}"
    />
    <title>E-Services</title>
</head>
<body>
<header class="flex">
    <div class="logo">
        <img
                class="logoES"
                src="{{ asset('img/logo/logoh_small.png') }}"
                alt="Le logo de E-Services"
        />
    </div>

    <nav class="flex navigation">
        <ul class="flex main-menu">
            <li class="main-menu-element">
                <a href="{{ path('user_home') }}">ACCUEIL</a>
            </li>
            <li class="main-menu-element">
                <a href="{{ path('user_info_update', {'id': app.user.id}) }}">MON COMPTE</a>
            </li>
            <li class="main-menu-element">
                <a href="{{ path('user_declare', {'id': app.user.id}) }}">DECLARER PANNE</a>
            </li>

        </ul>
    </nav>
    <div class="flex btnConnect">
        <input
                onclick="window.location.href = '{{ path('app_logout') }}'"
                class="btn-grad"
                type="button"
                value="SE DECONNECTER"
        />
        <div><span class="ident">Connecté en tant que: </span><br> {{ app.user.lastname }} {{ app.user.firstname }}</div>
    </div>
</header>


{% block main %}{% endblock main %}


{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<footer class="footer">
    <div class="imgFooter">
        <img
                class="phones"
                src="{{ asset('img/footer.png') }}"
                alt="image de telephones"
        />
    </div>
    <div class="flex contentFooter">
        <div class="logoFooter flex">
            <img class="imgLogoFooter" src="{{ asset('img/logo/logo_small.png') }}" alt="logo entreprise"/>
        </div>
        <div class="flex contentContact">
            <h3>CONTACTEZ-NOUS</h3>
            <span
            >Nous serions ravis d'échanger avec vous autour de vos enjeux<br/>et
            vos problématiques.</span
            >
            <span>contact@e-services.fr <br/>06 00 00 00 00 </span
            >
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="{{ asset('js/index.js') }}"></script>
</body>
</html>

